.automation-panel {
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  border-radius: 2px;
}
.automation-panel .automation-content {
  background: white;
  margin: 0 auto;
  height: 200px;
  border-radius: 5px;
  width: 90%;
}

.disabled-button {
  background-color: #b5bdc4; /* Grayed out color */
  pointer-events: none;
  position: relative; /* For tooltip positioning */
}

.disabled-button:hover::before {
  content: "Select an element to enable saving.";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 100%; /* Position above the button */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 12px;
  pointer-events: none;
}
