<div id="app">
  <section class="todo-wrapper">
    <h1 class="todo-title">Your tasks</h1>

    <form *ngFor="let inputTask of inputTasks; let i = index" [style.border]="inputTask.borderStyle"
      (click)="trackSelection( inputTask, TaskType.INPUT_TASK)">
      <input type="text" [(ngModel)]="inputTask.title" [ngModelOptions]="{standalone: true}" class="input-todo"
        placeholder="Take the garbage out" />
      <div class="btn btn-add active" (click)="addTask(inputTasks[i].title)">+
      </div>
    </form>

    <div v-if="pending.length > 0">
      <p class="status busy">
        You have {{ tasks.length }} task<span *ngIf="tasks.length != 1">s</span>
      </p>

      <ul class="todo-list">

        <li *ngFor="let task of tasks" [class.cool]="task.completed" [style.border]="task.borderStyle"
          (click)="trackSelection( task, TaskType.TASK)">
          <input class="todo-checkbox" [checked]="task.completed" type="checkbox" [name]="task.title" />
          <label (click)="task.completed = !task.completed" [for]="task.title"></label>
          <span class="todo-text">
            {{ task.title }}, completed: {{ task.completed }}
          </span>
          <span class="delete" (click)="deleteTask(task)"></span>
        </li>

      </ul>
    </div>

    <p *ngIf="tasks.length == 0" class="status free" v-if="!pending.length">
      <img src="https://nourabusoud.github.io/vue-todo-list/images/beer_celebration.svg" alt="celebration" />Time to
      chill! You have no todos.
    </p>

  </section>

</div>
<app-below-popup [selectedCountTask]="countTasksWithBorderStyle(TaskType.TASK)"
  [selectedCountInputTask]="countTasksWithBorderStyle(TaskType.INPUT_TASK)"
  (updateParentSelected)="updateParentSelectedStatus($event)"></app-below-popup>